@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700;800;900&family=BioRhyme:wght@300;400&family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700;800;900&family=BioRhyme:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700;800;900&family=BioRhyme:wght@300;400&family=Inter&display=swap');

body {
    background-color: #FFD223;
}

p{
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'BioRhyme', serif;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

#foot {
    text-decoration: none;
    color: aliceblue;
}

table {
    margin: 0 auto;
}

table > tr > th> a:hover {
    color:#FFD223;
}

ul {
    list-style: none;
    padding-left: none;
}

ul > li {
    list-style-type: none;
    border-right: none;
    padding: 15px 0px 15px 0px;
}

h1 {
    /* TITULO DE PAGINAS OU TOPICOS */
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 5vw;
}

td, th {
    padding: 10px 20px 10px 20px;
    margin: 0;
    text-align: center;
  }

h3 {
    /* SEJA BEM VINDO A PÁGINA CUSCUZ COM OVO */
    font-family: 'Barlow Condensed', sans-serif;
    display: inline;
    font-weight: 500;
    font-size: 28px;
    padding: 0px;
    color: #0009D6;
}

#titulo{
    /* AQUI VOCÊ APRENDERÁ HTML5 E CSS3 */
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 5vw;
    padding: 0%;
    margin: 0%;
    text-align:center;
    color: #000000;
}

#titulo-2{
    /* HTML - CSS */
    font-family: 'Barlow Condensed',sans-serif;
    font-size: 10vw;
    padding: 0px;
    margin: 0px;
    border: 0px;
    height: fit-content;
}

#code { 
    /* FONTE UTILIZADA PARA CÓDIGOS */
    font-family: 'BioRhyme', serif;
    font-size: small;
    padding: 0px;
    margin: 0px;
}

#exemplo {
    /* FONTE UTILIZADA PARA EXEMPLO */
    font-family: 'Barlow Condensed', sans-serif;
    color: rgb(148, 144, 144);
    font-size:larger;
    padding: 0px;
    margin: 0px;
}

code{
    padding: 0px;
    margin: 0%;  
}

.color{
    /* CRIA UM TRIANGULO CINZA */
    width: 0; 
    height: 0; 
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid #D9D9D9;
    margin-left: 48%;
}
.color > div{
    width:0px;
    height:0px;
}

pre {
    background: #D9D9D9;
    padding: 5px 20px 5px 20px;
    border-radius: 8px;
}

#button {
    text-decoration: none;
    background-color: #FFD223;
    padding: 20px 25px 20px 25px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 
    0px 6px 12px -2px, 
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

#button:hover {

  }