@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700;800;900&family=BioRhyme:wght@300;400&family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700;800;900&family=BioRhyme:wght@300;400&display=swap');

body {
    background-color: #FFD223;
}

h1 {
    /* TITULO DE PAGINAS OU TOPICOS */
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
}

h3 {
    /* SEJA BEM VINDO A PÁGINA CUSCUZ COM OVO */
    font-family: 'Barlow Condensed', sans-serif;
    display: inline;
    font-weight: 500;
    font-size: 28px;
    color: #0009D6;
}

#titulo{
    /* AQUI VOCÊ APRENDERÁ HTML5 E CSS3 */
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    text-align:center;
    color: #000000;
}

#titulo-2{
    /* HTML - CSS */
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    font-size: 90px;
    line-height: 77px;
}

#code { 
    /* FONTE UTILIZADA PARA CÓDIGOS */
    font-family: 'BioRhyme', serif;
}

.color{
    /* CRIA UM TRIANGULO CINZA */
    width: 0; 
    height: 0; 
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid #D9D9D9;
}
.color > div{
    width:0px;
    height:0px;
}

pre {
    position:absolute;
    width:fit-content;
    height:fit-content;
    left:auto;
    top:auto;
    background: #D9D9D9;
    border-radius: 10px; 
    padding: 2%;
}